/* General Styles */ 
.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0; /* Light grey background */
}

.App-header {
  background-color: #9b4dca; /* Purple header */
  padding: 20px;
  color: white;
}

.language-selector-container {
  margin-top: 20px;
  margin-bottom: 20px; /* Added margin-bottom to create space below the language selector */
  display: flex;
  justify-content: center;
}

.language-selector-container select {
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #f7d8eb; /* Light pink background for the selector */
  color: #9b4dca; /* Purple text */
  border: 1px solid #9b4dca; /* Purple border */
  transition: border-color 0.3s ease;
}

.language-selector-container select:hover {
  border-color: #c774e3; /* Lighter purple hover border */
}

/* Main Layout */
.main-container {
  display: flex;
  height: calc(100vh - 160px); /* Subtract the header height and selector area */
}

.code-editor-container {
  flex: 50%; /* 50% width for the code editor */
  height: 100%;
  background-color: #ffffff; /* White background for editor */
}

.right-container {
  display: flex;
  flex-direction: column;
  flex: 50%; /* 50% width for the input/output area */
}

.input-container {
  flex: 1; /* 50% of the right side */
  background-color: #f7d8eb; /* Light pink background */
  padding: 10px;
  color: #9b4dca; /* Purple text */
  border-bottom: 2px solid #9b4dca; /* Added a purple border to demarcate input and output */
}

.input-container textarea {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0; /* Light grey background */
  color: #9b4dca; /* Purple text */
  border: 1px solid #f7d8eb; /* Light pink border */
  font-family: monospace;
  padding: 10px;
  resize: none;
}

.output-container {
  flex: 1; /* 50% of the right side */
  background-color: #f0f0f0; /* Light grey */
  padding: 10px;
  color: #9b4dca; /* Purple text */
  overflow-y: auto;
  font-family: monospace;
}

/* Compile Button */
button {
  margin-top: 20px;
  padding: 5px 10px; /* Adjusted to match the language selector's padding */
  font-size: 14px; /* Matching the font size of the language selector */
  background-color: #9b4dca; /* Purple button */
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: auto; /* Set width to auto so it adjusts based on text */
  min-width: 120px; /* Added min-width for consistency in size */
}

button:hover {
  background-color: #7a3fa1; /* Darker purple on hover */
}

button:disabled {
  background-color: #b3b3b3;
  cursor: not-allowed;
}

/* Heading */
h4 {
  color: #9b4dca; /* Purple output heading */
}

h1 {
  color: #ffffff; /* White heading text */
}
